@import "tailwindcss";
@import "./theme.css";

@plugin "tailwindcss-animate";

@layer base {
  html {
    @apply text-primary bg-bg h-full leading-tight;
  }

  body {
    @apply h-full bg-none;
  }
  * {
    @apply border-border;
  }

  .windows {
    &::-webkit-scrollbar {
      display: none;
    }
  }

  input:placeholder-shown {
    text-overflow: ellipsis;
  }

  button {
    @apply cursor-pointer disabled:cursor-not-allowed;
  }
}

@utility scrollbar-none {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@utility content {
  @apply mx-auto max-w-[1440px] px-8;
}
