@import 'tailwindcss';

@keyframes grid-pan-y {
	0% {
		background-position:
			0 0,
			0 0;
	}
	100% {
		background-position:
			0 var(--grid-h),
			0 0;
	}
}

@utility bg-pan-down {
	animation: grid-pan-y 3s linear infinite;
}
